@using MusicLibrary.Models.Objects;


@{
    ViewData["Title"] = "Home Page";
}

@model List<Music>;



<div class="text-center">
    <h1 class="display-4">Welcome on my page!</h1>

    <table class="table table-bordered table-striped table-sm">

        <thead>
            <tr>
                <td>Előadó</td>
                <td>Cím</td>
                <td>Év</td>
            </tr>
        </thead>

        <tbody>
            

                @foreach (Music music in Model)
                {
                    <tr>
                        <td>
                        @for (int i = 0; i < music.Artists.Count(); i++)
                                    {
                            if (music.Artists.Count() > 1 && i < music.Artists.Count()-1)
                                {
                                    @(music.Artists.ElementAt(i).Name+", ")
                                }
                                else
                                    @(music.Artists.ElementAt(i).Name)
                                
                                    }
                        </td>

                        <td>@music.Title</td>
                        <td>@music.Year</td>
                        <td> <a asp-controller="Music" asp-action="Edit" asp-route-id="@music.Id"> Szerkesztés </a> </td>
                        <td> <a asp-controller="Music" asp-action="Delete" asp-route-id="@music.Id"> Törlés </a> </td>
                    </tr>
                }
                        
            
            
        </tbody>
    </table>




</div>
